.body {
    margin: 0;
    padding: 0;
}

.header {
    text-align: center;
    padding: 3vw 0;
    background-color: #42C2FF;
    border: 2px solid #EFFFFD;
    box-shadow: .2vw .2vw 1vw #85F4FF;
    color: #EFFFFD;
}

.header-text {
    font-size: 4vw;
    font-family: 'Hubballi', cursive;
}

.header-text + p {
    font-family: 'Noto Serif Display', serif;
    font-size: 1.8vw;
    color: #5D8BF4;
    font-weight: bold;
}

.card {
    padding: 2vw;
    margin: 2vw;
    width: 20.5vw;
    height: auto;
    border: 1px solid #B8FFF9;
    box-shadow: .7vw .7vw#B8FFF9;
}

.all {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.text {
    font-family: 'Fredoka', sans-serif;
}

.footer {
    height: 5vw;
    text-align: center;
    color: #85F4FF;
    background-color: #42C2FF;
    position: relative;
    bottom: 0;
    font-family: 'Hubballi', cursive;
    padding: .5vw 0 0;
}

.h4Footer {
    font-size: 1.4vw;
}

.pFooter {
    font-size: 1vw;
    font-weight: lighter;
}

.topic {
    margin: 2vw 0;
    width: auto;
    position: relative;
}

.right {
    width: 10%;
    position: absolute;
    top: 10vw;
    padding: .5vw;
    left: 8.5vw;
}

.right::after {
    content: "";
    clear: both;
    display: table;
}

.home-btn {
    height: 2.5vw;
    font-size: 1vw;
    width: 5vw;
    position: absolute;
    right: 8.5vw;
    top: 10vw;
}

.summary-body {
    margin:2vw 5vw ;
    width: 90%;
    font-family: 'Hubballi', cursive;;
}

.summaryText {
    font-weight: bold;
    font-size: 3.5vw;
}

.summary {
    margin: 0 0 1vw;
}

.img {
    width: 50%;
    height: auto;
}

.imgForm {
    display:grid;
    grid-template-columns: auto auto;
}

.imgSum {
    width: 60%;
    height: auto;
}